*.png
*.jpg
.DS_Store
*.DS_Store
analysis/.DS_Store
data/.DS_Store
analysis/goldset_annotations/preprocess_basic_level_manual_annotations.Rmd
data/annotation_examples/frames_child_hands.zip
data/.DS_Store
data/saycam_images/.DS_Store
data/.DS_Store
data/.DS_Store
data/saycam_images/.DS_Store
!/writing/cogsci-paper/figs/examples.png
!/writing/cogsci-paper/figs/montage.001.png
!/writing/cogsci-paper/figs/montage_try2.png
!/writing/cogsci-paper/figs/basic_level_examples.png


data/saycam_images/.DS_Store
writing/cogsci-paper/Cogsci_draft_2021_cache/*
data/.DS_Store
data/saycam_images/.DS_Store
data/images/annotation_examples/disagreements.zip
data/saycam_images/annotation_examples/frames_child_hands.zip
data/.DS_Store
writing/cogsci-paper/submitted/characterizingthe_0203.pdf
.Rproj.user
experiments/.DS_Store
data/preprocessed_data/.Rapp.history
data/images/for_additional_panoptic.zip
analysis/vedi_pilot/drawing_experience.Rmd
data/.DS_Store
data/saycam_images/.DS_Store
experiments/.DS_Store
data/.DS_Store
data/saycam_images/.DS_Store
experiments/.DS_Store
