*.png
*.jpg
.DS_Store
analysis/.DS_Store
data/.DS_Store
analysis/goldset_annotations/preprocess_basic_level_manual_annotations.Rmd
data/annotation_examples/frames_child_hands.zip
data/.DS_Store
data/saycam_images/.DS_Store
data/.DS_Store
data/.DS_Store
data/saycam_images/.DS_Store
!/writing/cogsci-paper/figs/examples.png
!/writing/cogsci-paper/figs/montage.001.png


data/saycam_images/.DS_Store
data/.DS_Store
data/saycam_images/.DS_Store
data/images/annotation_examples/disagreements.zip
data/saycam_images/annotation_examples/frames_child_hands.zip
data/.DS_Store
